h1 {
  text-align: center;
  font-size: 50px;
}

#welcome-message {
  text-align: center;
  font-size: 20px;
}

form {
  text-align: center;
}

#image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}